body {
  font-family: sans-serif;
}

h1{
  text-align: center;
} 

/* Login Form */
.body-login-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
} 

.ant-input-affix-wrapper{
  border: 2px solid gray;
  margin-bottom: 20px;
  width: 250px;
  display: flex;
}

.ant-input-affix-wrapper-focused{
  border: 2px solid rgb(39, 176, 255);
}

.ant-input{
  border-width: 0;
  width: 100%;
}

.ant-input:focus{
  outline: none;
}

.ant-form-item{
  display: flex;
  justify-content: center;
}

.login-form-button{
  width: 80px;
  height: 25px;
  background-color: rgb(122, 202, 248);
  border: 2px solid #000;
}

.login-form-button:hover{
  background-color: rgb(84, 190, 252);
}

/* ListForm */
.main-layout{
  display: flex;
  width: 45%;
  justify-content: flex-end;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header{
  text-align: right;
  height: 45px;
  font-size: 16px;
}

/* App Router */
.router-body{
  width: 100%;
}

.link-body a {
  color: white ;
  padding: 10px;
  width: 150px;
}

.link-body a:hover{
  background-color: white;
  color: black;
}

.link-body{
  background-color: black;
  text-align: center;
  display: flex;
  height: 42px;
}

/* Registration Form */

.container-app{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ant-form-horizontal{
  width: 35%;
}

/* Header Page */
.icon-back-page svg{
  margin-right: 8px;
}

.menu-footer{
  display: flex;
}

.menu-footer div{
  width: 130px;
}

.line-top{
  display: flex;
}

.line-icon{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
}

.line-icon span{
  width: 30px;
}